<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width" />
	<title>Not Found!</title>
	<!-- <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">SI Kependudukan</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Masukkan Data<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/penduduk/add">Data Penduduk</a></li>
						<li><a href="/keluarga/add">Data Keluarga</a></li>
					</ul></li>
				<li><a href="/penduduk/find">Cari</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-9">
				<h3>Sistem Informasi Kependudukan Online Provinsi DKI Jakarta</h3>
				<h5>Selamat datang di Sistem Informasi Kependudukan Online Provinsi DKI Jakarta</h5>
				<hr/>
				
				<h3>Not Found!</h3>
	       		<h5 th:text="${nik} != null ?'Data penduduk dengan NIK: '  + ${nik} +' tidak ditemukan'">Data penduduk dengan nik tersebut tidak ditemukan</h5>
	       		<h5 th:text="${nomor_kk} != null ? 'Data Keluarga dengan nkk: ' + ${nkk} + ' tidak ditemukan'">Data keluarga dengan nkk tersebut tidak ditemukan</h5>
	       		<h5 th:text="${alamat} != null ? 'Alamat: ' + ${nkk} + ' tidak ditemukan'">Alamat tersebut tidak ditemukan</h5>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</body>
</html>