<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width" />
<title>Lihat Data Keluarga</title>
<!-- <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script> -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">SI Kependudukan</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Masukkan Data<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/penduduk/add">Data Penduduk</a></li>
						<li><a href="/keluarga/add">Data Keluarga</a></li>
					</ul></li>
				<li><a href="/penduduk/find">Cari</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-9">
				<h3 th:text="'Lihat Data Keluarga - ' + ${keluarga.nomor_kk}">Lihat
					Data Penduduk</h3>
				<table class="table-condensed" style="margin-top: 30px; width: 70%">
					<tbody>
						<tr>
							<td class="col-md-2">NKK</td>
							<td class="col-md-2" th:text="${keluarga.nomor_kk}">Keluarga
								NKK</td>
						</tr>
						<tr>
							<td class="col-md-2">Alamat</td>
							<td class="col-md-4" th:text="${keluarga.alamat}">Keluarga
								Alamat</td>
						</tr>
						<tr>
							<td class="col-md-2">RT/RW</td>
							<td class="col-md-4"
								th:text="${keluarga.RT} + '/' + ${keluarga.RW}">Keluarga
								RT/Keluarga RW</td>
						</tr>
						<tr>
							<td class="col-md-2">Kelurahan/Desa</td>
							<td class="col-md-4" th:text="${keluarga.nama_kelurahan}">Nama
								Kelurahan</td>
						</tr>
						<tr>
							<td class="col-md-2">Kecamatan</td>
							<td class="col-md-4" th:text="${keluarga.nama_kecamatan}">Kecamatan
								kecamatan</td>
						</tr>
						<tr>
							<td class="col-md-2">Kota</td>
							<td class="col-md-4" th:text="${keluarga.nama_kota}">Kota kota</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-bordered"
					style="margin-top: 30px; text-align:center; width:100%">
					<thead style="margin-top:30px; width:100%">
						<tr>
							<td>No</td>
							<td>Nama</td>
							<td>NIK</td>
							<td>Jenis Kelamin</td>
							<td>Tempat Lahir</td>
							<td>Tanggal Lahir</td>
							<td>Agama</td>
							<td>Pekerjaan</td>
							<td>Status Perkawinan</td>
							<td>Status dalam Keluarga</td>
							<td>Kewarganegaraan</td>
						</tr>
					</thead>
					<tbody style="margin-top:30px; width: 100%">
						<tr th:each="penduduk,iterationStatus:${penduduk}">
							<td th:text="${iterationStatus.count}">1</td>
							<td th:text="${penduduk.nama}">Nama</td>
							<td th:text="${penduduk.nik}">NIK</td>
							<td
								th:text="${penduduk.jenis_kelamin == 0} ? 'Laki-laki' : 'Perempuan'">Jenis
								Kelamin</td>
							<td th:text="${penduduk.tempat_lahir}">Tempat Lahir</td>
							<td th:text="${penduduk.tanggal_lahir}">Tanggal Lahir</td>
							<td th:text="${penduduk.agama}">Agama</td>
							<td th:text="${penduduk.pekerjaan}">Pekerjaan</td>
							<td th:text="${penduduk.status_perkawinan}">Status
								Perkawinan</td>
							<td th:text="${penduduk.status_dalam_keluarga}">Status dalam
								Keluarga</td>
							<td th:text="${penduduk.is_wni} == 1 ? 'WNI' : 'WNA'">Kewarganegaraan</td>
						</tr>
					</tbody>
				</table>
				<div>
					<a th:href="'/keluarga/update/' + ${keluarga.nomor_kk}"
						class="btn btn-primary"> Update Data </a>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</body>
</html>